.trade-page {
  display: flex;
  flex-direction: column;
  background: #fff;
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__left {
    width: 28%;
    height: 100%;
    box-sizing: border-box;
    background-color: #F1F1F1;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  &__right {
    width: 72%;
    @media (max-width: 700px) {
      width: 100%;
    }
  }
  &__chart {
    width: 100%;
    max-height: 500px;
  }
  &__spinner-wrap {
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
